CustomerService.module/Schemas/AccountDetails.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1499142120329" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1499142120329">
  <complexType name="AccountDetailsElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="AccountNumber" type="integer"/>
      <element maxOccurs="1" minOccurs="0" name="AccountType" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="Amount" type="double"/>
    </sequence>
  </complexType>
  <element name="AccountDetailsElement" type="tns:AccountDetailsElementType"/>
</schema>
